/*FUENTE*/
@font-face { /*Insertar la fuente Raleway*/
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v11/0dTEPzkLWceF7z0koJaX1A.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


/*WEB COMPLETA*/
* {
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Raleway';
    background-color: lightgray;   
}

header{
    background-color: #908BF3;
    padding: 0.6em;
    height: 2em;
}

header a{
    text-decoration: none;
    color: black;
}

header .ayto{
    float: left;
    width: 50%;
    text-align: left;
    font-weight: bold;
}

header .titulo{
    float: right;
    width: 50%;
    text-align: right;
    font-weight: bold;
}

.wrapper{
    margin: 1em;
    align-content: center;
}

.wrapper h2{
    text-transform: uppercase;
    margin-bottom: 0.5em;
}

.wrapper form #boton button{
    margin-bottom: 1.5em;
    background-color: #908BF3;
    text-transform: uppercase;
    padding: 0.2em;
}


