/*FUENTE*/
@font-face { /*Insertar la fuente Raleway*/
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v11/0dTEPzkLWceF7z0koJaX1A.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


/*WEB COMPLETA*/
* {
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Raleway';
    background-color: lightgray;   
}

/*MENÚ DESPLEGABLE*/
header{
    width: 100%;
    position: fixed;
    background-color: #908BF3;
    justify-content: center;
}


header ul{
    text-align: center;
    list-style: none;
    background-color: #754ec9;
    width: 100%;
}

.nav li a{
    padding: 0.8em 2em .8em 2em;
    background-color: #908BF3;
    width: 10.05em;
    text-decoration: none;
    display: block;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    justify-content: center;
}

.nav li a:hover{
    background-color: #150BD9;
    color: snow;
}


.nav > li{
    float: left;
}

.nav li ul {
    display: none;
    position: absolute;
    min-width: 140px;
    width: inherit;
}

.nav li:hover > ul{
    display: block;
}


/*ENCABEZADO INICIO*/
.inicio .presentacion {
    margin-top: 1.5em;
    height: 15em;
    background-image: url("/web/images/encabezado.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}


main.inicio div.presentacion aside.img{
    float: left;
    width: 30%;
}


main.inicio div.presentacion aside.img img{
    width: 50%;
    padding: 1em;
    margin-left: 2em;
}


main.inicio div.presentacion section.titulo{
    float: right;
    width: 70%;
    font-size: 4em;
    text-transform: uppercase;
    text-align: right;
    text-shadow: 10px 5px 5px black;
}


main.inicio div.presentacion section.titulo h2{
    margin-right: 1em;
    color: snow;
}

/*CONTENIDO*/
main {
    margin-left: 1em;
    margin-right: 1em;
    color: black;
    padding: 2em;
    padding: 2em;
    text-align: justify;
}


div.contenido{
    margin-top: 3em;
    width: 100%;
    height: 35em;
}

div.contenido div.texto{
    width: 75%;
    float: left;
    font-size: 1.2em;   
}

div.contenido aside.indexnews{
    width: 20%;
    float: right;
    border-left: 2.5px #150BD9 solid;
    padding-left: 10px;
}

div.contenido aside.indexnews h3{
    text-transform: uppercase;
    color: #150BD9;
    font-weight: bold;
    text-decoration: underline;
}

div.contenido aside.indexnews h4{
    text-align: justify;
    margin-top: 10px;
}


div.contenido aside.indexnews img{
    width: 15em;
    height: 7.5em;
}

div.contenido aside.indexnews p{
    text-align: right;
    font-size: 80%;
}

div.submenu{
    margin-left: 9em;
}
    
div.submenu section a{
    color: inherit;
    font-weight: bold;
}

div.submenu section ul{
    list-style: none;
}

div.submenu section.indexsede{
    float: left;
    width: 33%;
}

div.submenu section.indexciud{
    float: left;
    width: 33%;
}

div.submenu section.indexayto{
    float: left;
    width: 33%;
}


/* ------------ SEDE -------------- */
main.sede{
    margin-top: 5em;
}

main.sede h1{
    text-transform: uppercase;
    font-weight: bold;
}

main.sede table{
    margin-top: 1em;
    margin-left: 1em;
}

main.sede table,th,td{
    border: 4px solid black;
    border-collapse: collapse;
    color: black;
}

main.sede table th{
    padding: 0.6em;
    align-content: center;
}

main.sede table td{
    text-align: justify;
    vertical-align: top;
    padding: 0.8em;
    width: 50%;
}

main.sede a input{
    font-size: 1.3em;
    font-family: 'Raleway';
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 2em;
    margin-left: 25em;
    text-align: center;
    padding: 0.5em;
    background-color: #150BD9;
    color: snow;
}


main.sede table td p {
    margin-left: 0.6em;
}

main.sede table td ul {
    margin-left: 2.2em;
    list-style: decimal;
}

main.sede table td h4{
    text-transform: uppercase;
    margin-bottom: 4px;
}


main.sede table th h3{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 4px;
    background-color: #908BF3;
}

main.sede table th p{
    text-align: justify;
    font-weight: 100;
}



/* ------ CITA PREVIA ------ */
main.citaprevia{
    margin-top: 2em;
}

main.citaprevia form {
    padding: 0.8em;
}

main.citaprevia form fieldset p,textarea{
    padding: 0.8em;
}

main.citaprevia form fieldset textarea{
    padding: 0.8em;
}

.citaprevia form legend {
    text-transform: uppercase;
    font-weight: bold;
    color: rebeccapurple;
}

.citaprevia form .botones{
    text-align: right;
}

.citaprevia form .boton{
    font-family: 'Raleway';
    text-transform: uppercase;
    font-weight: bold;
    padding: 0.4em;
    background-color: #908BF3;
}

/*INSTALACIONES DEPORTIVAS*/
main.inst{
    height: 80em;
}

section.instalaciones{
    float: left;
    width: 70%;
}

section.instalaciones ul li{
    padding: 1em;
}

section.instalaciones ul li iframe{
    margin-left: 35%;
}

section.instalaciones ul li h3{
    text-transform: uppercase;
    margin-bottom: 5px;
}

aside.fotospab{
    float: right;
    width: 25%;
}

aside.fotospab img{
    width: 95%;
}



/*FORMULARIO INSCRIPCION*/
main.inscripcion{
    margin-top: 2em;
}

main.inscripcion form {
    padding: 0.8em;
}

main.inscripcion form p,textarea{
    padding: 0.8em;
}

.inscripcion form legend {
    text-transform: uppercase;
    font-weight: bold;
    color: rebeccapurple;
}

.inscripcion form .botones{
    text-align: right;
}

.inscripcion form .boton{
    font-family: 'Raleway';
    text-transform: uppercase;
    font-weight: bold;
    padding: 0.4em;
    background-color: #150BD9;
}


/*PIE DE PÁGINA*/
footer{
    background-color: #908BF3;
    margin-top: 1em;
    font-size: 0.8em;
    height: 7em;
}

footer p{
    padding: 1em;
}

footer section.texto{
    float: left;
    width: 80%; 
}

footer aside.acceso{
    float: right;
    width: 20%;
}

footer aside.acceso input{
    margin-top: 2.5em;
    font-family: 'Raleway';
    text-transform: uppercase;
    font-weight: bold;
    padding: 0.4em;
    background-color: #150BD9;
    color: snow;
}